:root {
  --primary-color-1: #495e57;
  --primary-color-2: #f4ce14;
  --secondary-color-1: #ee9972;
  --secondary-color-2: #fbdabb;
  --secondary-color-3: #edefee;
  --secondary-color-4: #333333;
  --white: #ffffff;
  --primary-font: "Markazi Text", serif;
  --secondary-font: "Karla", sans-serif;
}
